<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="scriptsFolder" value="\\networkFolder\A\B" />-->
    <add key="scriptsFolder" value="c:\users\robko\documents\visual studio 2015\Projects\SomeOldApplication\SomeOldApplication\scripts" />
  </appSettings>
</configuration>